.root {
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.label {
    -fx-text-fill: #333;
    -fx-wrap-text: true;
    -fx-font-size: 14px;
}

.hyperlink {
    -fx-text-fill: #1e88e5;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-cursor: hand;
}

.button {
    -fx-background-color: #1e88e5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 6 20 6 20;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(one-pass-box, rgba(30,136,229,0.3), 5, 0.2, 0, 2);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #1565c0;
}

.help{
    -fx-padding: 20;
}